<fieldset>
  <label for='player'>Player</label>
  <input type='text' id='player' name='goal[][player]' placeholder=Name>
  <br>
  <label for='ppp'>PPP</label>
  <input type='text' id='ppp' name='goal[][ppp]' size="1" placeholder=N>
  <br>
  <label for='period'>Period</label>
  <input type='text' id='period' name='goal[][period]' size="1" placeholder=1>
  <br>
  <label for='time_scored'>Time Scored</label>
  <input type='text' id='time_scored' name='goal[][time_scored]' size="7" placeholder=10:10>
</fieldset>